<div class="background">
  <img src="http://i3.minus.com/ibuIQhFc46eAu2.JPG" alt="alt" />
</div>
<div class="container">
  <h1>Round!</h1>
    <% if @current_card %>
    <div class="card">
    <%= @current_card.definition %>
     <form id="guess" action='/guess' method="post">
          <input type="hidden" value="<%= @round.id %>" name="round_id">
          <input type="hidden" value="<%= @current_card.id %>" name="card_id">
          <input type="text" placeholder="Enter Guess" name="guess">
          <input type="submit" value="Submit Answer!">
          <br>
     </form>
   </div>
     <% end %>
    
     <% unless @correct.nil? %>
     <div class="answer">
      <% if @correct %>
        <%= "Your answer is correct" %>
      <% else %>
        <%= "Your answer is incorrect" %>
        <%= "Correct answer: #{@term}" %>
      <% end %>
      <a href="/round/<%= @round.id %>/next_card">next card</a>
     <% end %>
     </div>
    <br>
</div>
