<div class="container">
  <div class="background">
    <img src="http://i3.minus.com/ibuIQhFc46eAu2.JPG" alt="alt" />
  </div>
  <div class="left_tab">
    <h1>Welcome <%= current_user.user_name %>!</h1>
    <div class="decks">
      <% @decks.each do |deck| %>
     <!--  <p><%= deck.name %></p>
 -->  <form action='/start_round' method="post">
        <input type="hidden" value="<%= deck.id %>" name="id"> 
        <input type="submit" value="<%= deck.name.upcase %>">
          <br>
      </form>
      <%end%>
    </div>
     <a href="/new_deck">Make a new Deck</a>
    <div class="user">
      <p></p>
      <form action="/logout" method="get">
        <input type="submit" value="Sign Out">
      </form> 
    </div> 
  </div>
 
  <div class="right_tab">
    <% if player_rounds.size > 0 %>
      <table border="1">
      <tr>
        <th>Deck</th>
        <th>Size</th>
        <th>% Correct</th>
      </tr>
    <% player_rounds.each do |round| %>
          <tr>
          <td><%= current_deck_name(round) %></td>
          <td><%= current_deck_size(round) %></td>
          <td><%= current_deck_guess_percentage(round) %></td>
          </tr>
      <%end%>
      </table>
    <%end%>
  </div>
  
 </div>
