<div class="container">
    <h1>Welcome</h1>
    <div class="user">
      <p><%= current_user.user_name %></p>
      <form action="/logout" method="get">
        <input type="submit" value="Sign Out">
      </form>      
    <div>

    <div class="decks">
      <% @decks.each do |deck| %>
      <p>Deck Name: <%= deck.name %></p>
        <form action='/start_round' method="post">
          <input type="hidden" value="<%= deck.id %>" name="id"> 
          <input type="submit" value="Play!">
          <br>
        </form>
        <%end%>
    </div>
        
    <% rounds = Round.where(user_id: User.find(current_user))%>
    <% if rounds.size > 0 %>
    <div class="stats">
      <table border="1">
      <tr>
        <th>Deck Name</th>
        <th>Size</th>
        <th>% Correct</th>
      </tr>
    <% rounds.each do |round| %>
          <tr>
            <%cur_deck = Deck.find(round.deck_id) %>
          <td><%= cur_deck.name %></td>
          <% deck_size = Card.where(deck_id: cur_deck.id).size %>
          <% correct_guesses = round.guesses.where(correct: 1).size %>
          <td><%= deck_size %></td>
          <td>
            <% if correct_guesses == 0 %>
              <%= 0 %>
              <% else %>
                <%= deck_size / correct_guesses.to_f %>
            <% end %>
          </td>
          </tr>
      <%end%>
      </table>
      </div>
    <%end%>
</div>
